name: Sync Fork
on:
  workflow_dispatch:
  schedule: 
  - cron: "* * * * *"
jobs:
 sync:
   runs-on: ubuntu-latest
   steps:
     - name: Sync and merge upstream repository with your current repository
       uses: dabreadman/sync-upstream-repo@v1.0.0.b
       with:
         # URL of gitHub public upstream repo
         upstream_repo: "https://github.com/Nupur19nj/Cross-border-Payment.git"
         # Branch to merge from upstream (defaults to downstream branch)
         upstream_branch: main
         # Branch to merge into downstream
         downstream_branch: main
         # GitHub Bot token
         token: ${{ secrets.PAT }}
